#f1h4{
  color: white;
  text-shadow: 0px 0px 15px rgb(57, 24, 246);
  font-size: 45px;
  padding-top: 7%;
  padding-left: 5%;
  font-family: 'Ceviche One', cursive;
  font-weight: 500;
  font-size: 70px;
}

#f1p_text{
  color: white;
  background-color: yellowgreen;
  
  text-shadow: 0px 0px 10px rgb(57, 24, 246);
  font-size: 40px;
  font-family: 'Ceviche One', cursive;
  padding: 5%;
  margin: 10%;
  border: 5px solid rgb(57, 24, 246);
  
}


#f1returnHomeButton{
  font-size: 25px;
  border: 3px solid rgb(57, 24, 246);
  color: rgb(57, 24, 246);
  border-radius: 5px;
  cursor: pointer;
}


#f2h4{
  color: white;
  text-shadow: 0px 0px 15px rgb(210, 0, 233);
  font-size: 45px;
  padding-top: 7%;
  padding-left: 5%;
  font-family: 'Ceviche One', cursive;
  font-weight: 500;
  font-size: 70px;
}

#f2p_text{
  color: white;
  background-color: yellowgreen;
  
  text-shadow: 0px 0px 10px rgb(210, 0, 233);
  font-size: 40px;
  font-family: 'Ceviche One', cursive;
  padding: 5%;
  margin: 10%;
  border: 5px solid rgb(210, 0, 233);
  
}

#f2returnHomeButton{
  font-size: 25px;
  border: 3px solid rgb(210, 0, 233);
  color: rgb(210, 0, 233);
  border-radius: 5px;
  cursor: pointer;
}


#f3h4{
  color: white;
  text-shadow: 0px 0px 15px rgb(214, 4, 4);
  font-size: 45px;
  padding-top: 7%;
  padding-left: 5%;
  font-family: 'Ceviche One', cursive;
  font-weight: 500;
  font-size: 70px;
}

#f3p_text{
  color: white;
  background-color: yellowgreen;
  
  text-shadow: 0px 0px 10px rgb(214, 4, 4);
  font-size: 40px;
  font-family: 'Ceviche One', cursive;
  padding: 5%;
  margin: 10%;
  border: 5px solid rgb(214, 4, 4);
  
  
}

#f3returnHomeButton{
  font-size: 25px;
  border: 3px solid rgb(214, 4, 4);
  color: rgb(214, 4, 4);
  border-radius: 5px;
  cursor: pointer;
}

.fact_container{
  max-width: 75%;
}


#headerH3{
  color: white;
  text-shadow: 0px 0px 15px rgb(226, 124, 0);
  font-size: 70px;
  padding-top: 3%;
  padding-left: 5%;
  font-family: 'Ceviche One', cursive;
  font-weight: 500;
}

#homeMainContainer{
  color: white;
  background-color: yellowgreen;
  
  text-shadow: 0px 0px 15px rgb(185, 102, 1);
  font-size: 40px;
  font-family: 'Ceviche One', cursive;
  padding: 5%;
  margin: 7%;
  border: 8px solid rgb(226, 124, 0);
  border-radius: 5px;
  max-width: 50%;
}

#factButtonContainer{
text-align: center;  

}

#buttonOne{
  font-size: 25px;
  border: 3px solid rgb(57, 24, 246);
  color: rgb(57, 24, 246);
  border-radius: 5px;
  margin: 5%;
  cursor: pointer;
}

#buttonTwo{
  font-size: 25px;
  border: 3px solid rgb(210, 0, 233);
  color: rgb(210, 0, 233);
  border-radius: 5px;
  margin: 5%;
  cursor: pointer;
}

#buttonThree{
  font-size: 25px;
  border: 3px solid rgb(214, 4, 4);
  color: rgb(214, 4, 4);
  border-radius: 5px;
  margin: 5%;
  cursor: pointer;
}